<div class="flex gap-2">
  <h1 class="grow text-2xl font-bold"> LinkVault </h1>

  <.link 
    navigate={~p"/links/new"}
    class="bg-black border border-black hover:bg-gray-700 text-white font-bold py-2 px-3 rounded-md"
  >
    Create
  </.link>
</div>

<div class="divide-y">
  <div :for={link <- @links} class="py-2">
    <div>
      <div class="font-bold"> <%= link.url %> </div>
      <div class="text-sm"> <%= link.inserted_at %> </div>
    </div>
  </div>
</div>